{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'instakilogram_web.css' %}">

    <title>{{ title }}</title>
</head>
<body>
<header>

            <div class="profile-picture">
                <img src="/media/{{ user.imgThumb }}"  alt="Profile Picture">
            </div>
            <div class="profile-info">
                <p class="username">{{ user.username }}</p>
                <p>{{ user.description }}</p>

            </div>

    </header>

    <main>

            <div class="user-posts">
                {% for post in posts %}
                <div class="post">
                    <img src="/media/{{ post.imgThumb }}" alt="Post Image">
                </div>
                {% endfor %}
            </div>

    </main>





</body>
</html>